@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500&family=Inter:wght@200&family=Urbanist:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Albert Sans', sans-serif;
}

.recipe-search-body {
  height: 100vh;
  background-color: #FAE4C0;
}

.lucide {
  cursor: pointer;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgb(161, 155, 155);
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 20px;
}

ul::-webkit-scrollbar {
  width: 24px;
}


